h1 {
	color: var(--primary-4);
}

section.main form {
	margin: 2rem 2rem;
}

section.main form > div {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 2rem;
}

section.main form input,
section.main form textarea {
	padding: .5rem;
	border: 1px solid black;
	border-radius: var(--border-radius);
}

form .form-item.has-error input,
form .form-item.has-error textarea {
	border: 2px solid var(--error);
}

form .form-item {
	position: relative;
}

form .form-item .info {
	font-size: .75rem;
}

form .form-item .error {
	display: none;
	position: absolute;
	bottom: -20px;
	color: var(--error);
	font-size: .75rem;
}

form .form-item.has-error .error {
	display: block;
}

form .form-status-message {
	color: var(--success);
	margin-bottom: 2rem;
	display: none;
}

form .form-status-message.success {
	display: block;
}

form .form-status-message.has-error {
	display: block;
	color: var(--error);
}

form button {
	margin: 0;
	background: var(--primary-4);
	border: 2px solid var(--primary-4);
}

form button:hover {
	color: var(--primary-4);
	border: 2px solid var(--primary-4);
}

form button:disabled {
	background: var(--gray-200);
	border: 2px solid var(--gray-200);
	cursor: not-allowed;
}

form button:disabled:hover {
	color: white;
}

form button:hover .preloader-button {
	border: 2px solid var(--primary-4);
	border-left-color: transparent;
}

.button-wrapper {
	position: relative;
	width: 100%;
}

.tooltip {
	position: absolute;
	top: -70px;
	background: var(--primary-1);
	color: white;
	padding: 1rem;
	border-radius: var(--border-radius);
	font-size: .8rem;
	line-height: 16px;
	transform: translateY(-20%);
	transition: 200ms ease-in-out;
	visibility: hidden;
	opacity: 0;
}

.tooltip.show {
	visibility: visible;
	opacity: 1;
	transform: translateY(0%);
}

@media only screen and (min-width: 768px) {
	section.main h1 {
		margin: 1rem 0;
	}

	section.main form {
		margin: 2rem 0;
	}

	.button-wrapper {
		width: 200px;
	}
}
